import 'package:angular/angular.dart';

// AngularDart info: https://webdev.dartlang.org/angular
// Components info: https://webdev.dartlang.org/components

@Component(
  selector: '{{selector}}',
  styleUrls: ['{{stylesheet}}_component.css'],
  templateUrl: '{{html_template}}_component.html',
  directives: [{{directives}}],
)
class {{class}} {
  // Nothing here yet. All logic is in TodoListComponent.
}